@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--very-dark-cyan);
}

h2 {
    font-size: 1.55em;
}

p {
    font-size: 1em;
}

.cta {
    border: none;
    border-radius: 40px;
    padding: 18px;
    font-family: inherit;
    font-size: 0.8em;
    font-weight: 700;
    transform: scale(1);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: var(--very-pale-cyan);
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}

.header-wrapper {
    max-width: 1290px;
}

.nav {
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > img {
    max-width: 210px;
}

.nav-btn {
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 205px;
    padding: 15px;
}

.nav-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-btn:active {
    transform: scale(1);
}

.inner-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

.text {
    margin-right: 65px;
    padding-top: 100px;
}

.text > h1 {
    margin-bottom: 30px;
    font-size: 2.22em;
}

.text > p {
    margin-bottom: 30px;
    color: var(--very-dark-cyan);
}

.text-btn {
    background-color: var(--pink);
    box-shadow: 0px 5px 15px -5px hsl(322, 100%, 66%, 0.4);
    width: 280px;
    color: #ffffff;
}

.text-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px -1px hsl(322, 100%, 66%, 0.6);
}

.text-btn:active {
    transform: scale(1);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image > img {
    width: 100%;
}

main {
    padding: 150px 0px 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.post {
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1245px;
    margin-bottom: 40px;
    padding: 70px 35px 70px 120px;
}

.post-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 90px;
}

.post-text {
    padding-top: 90px;
}

.post-text > h2 {
    margin-bottom: 15px;
}

.post-text > p {
    color: var(--grayish-blue);
}

.post-image {
    display: grid;
    justify-items: end;
    align-items: center;
}

.post-image > img {
    max-width: 412px;
}

.post:nth-child(2n) .post-image{
    order: -1;
    justify-items: initial;
}

.overlay {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 704px;
    padding: 70px 0px 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 35%);
    z-index: 5;
}

.overlay > h2 {
    margin-bottom: 40px;
}

.overlay-btn {
    background-color: var(--pink);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.23);
    width: 345px;
    padding: 20px;
    font-size: 0.95em;
    color: #ffffff;
    transform: scale(1);
}

.overlay-btn:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    transform: scale(1.05);
}

.overlay-btn:active {
    transform: scale(1);
}

footer {
    background-color: var(--very-dark-cyan);
    padding: 190px 0px 63px;
    color: #ffffff;
    position: relative;
}

.footer-wrapper {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 30px;
}

.footer-top {
    display: grid;
    grid-template-columns: 401px 401px 260px;
    grid-template-rows: 280px;
    grid-gap: 60px;
    margin-bottom: 40px;
}

.contact-info > img{
    max-width: 100%;
    margin-bottom: 30px;
    margin-left: -10px;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px 17px;
}

.contact-wrapper > p, .contact-wrapper > span {
    font-size: 17px;
}

img[src*="icon"] {
    margin-top: 4.5px;
}

img[src*="icon-location"] {
    margin-top: 7px;
}

.shortcut-links {
    padding-top: 97px;
}

.shortcut-links > ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.shortcut-links li {
    margin-bottom: 22px;
}

.shortcut-links li:last-child {
    margin-bottom: 0;
}

.shortcut-links a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.social-links {
    padding-top: 95px;
}

.social-links > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.social-links li {
    margin-right: 17px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

.attribution {
    position: absolute;
    bottom: 0;
}

.attribution p { 
    font-size: 16px; 
    text-align: center; 
    color: #ffffff;
    left: 50%;
}
.attribution a { 
    color:hsl(157deg, 78%, 60%); 
}

@media screen and (max-width: 1366px) {
    h2 {
        font-size: 1.39em;
    }
    
    p {
        font-size: 0.95em;
    }

    .cta {
        padding: 17px;
        font-size: 0.75em;
    }

    .header-wrapper {
        max-width: 1195px;
    }

    .nav > img {
        max-width: 195px;
    }

    .nav-btn {
        width: 185px;
        padding: 14px;
    }

    .inner-container {
        grid-template-columns: 1fr 1.23fr;
    }

    .text {
        margin-right: 50px;
    }

    .text > h1 {
        font-size: 2.1em;
    }

    .text-btn {
        width: 250px;
    }

    .post {
        max-width: 1190px;
        padding: 60px 35px 60px 120px;
    }

    .post-image > img {
        max-width: 395px;
    }

    .overlay {
        width: 655px;
    }

    .overlay > h2 {
        margin-bottom: 25px;
    }

    .overlay-btn {
        width: 320px;
    }

    .footer-wrapper {
        max-width: 1240px;
    }

    .footer-top {
        grid-template-columns: 380px 390px 260px;
        grid-gap: 83px;
    }

    .contact-info > img {
        max-width: 62%;
    }

    .contact-wrapper > p,
    .contact-wrapper > span {
        font-size: 15px;
    }

    .shortcut-links a {
        font-size: 17px;
    }

    .footer-bottom {
        font-size: 13px;
    }

    .attribution p { 
        font-size: 15px; 
    }
}

@media screen and (max-width: 1210px) {
    h2 {
        font-size: 1.28em;
    }

    p {
        font-size: 0.83em;
    }

    .cta {
        padding: 14px;
        font-size: 0.66em;
    }

    header {
        padding: 40px 0px;
    }

    .text {
        padding-top: 80px;
        margin-right: 35px;
    }

    .text > h1 {
        margin-bottom: 20px;
        font-size: 1.83em;
    }

    .text > p {
        margin-bottom: 20px;
    }

    .header-wrapper {
        max-width: 1045px;
    }

    .nav > img {
        max-width: 175px;
    }

    .nav-btn {
        width: 155px;
        padding: 12px;
    }
    
    main {
        padding: 120px 0px 240px;
    }

    .post {
        max-width: 1040px;
        margin-bottom: 35px;
        padding: 50px 25px 50px 100px;
    }

    .post-text {
        padding-top: 80px;
    }

    .post-image > img {
        max-width: 385px;
    }

    .text-btn {
        width: 230px;
    }

    .overlay {
        width: 629px;
        padding: 56px 0px 50px;
    }

    .overlay-btn {
        width: 290px;
        padding: 18px;
        font-size: 0.75em;
    }

    footer {
        padding: 160px 0px 63px;
    }

    .footer-wrapper {
        max-width: 1040px;
    }

    .footer-top {
        grid-template-columns: 340px 340px 145px;
        grid-gap: 90px;
    }
}

@media screen and (max-width: 1050px) {
    h2 {
        font-size: 1.16em;
    }

    p {
        font-size: 0.75em;
    }

    .cta {
        padding: 12px;
        font-size: 0.62em;
    }

    .header-wrapper {
        max-width: 915px;
    }

    .nav {
        margin-bottom: 55px;
    }

    .nav > img {
        max-width: 155px;
    }

    .nav-btn {
        width: 135px;
        padding: 10px;
    }

    .inner-container {
        grid-template-columns: 1fr 1.2fr;
    }

    .text {
        padding-top: 70px;
        margin-right: 27px;
    }

    .text > h1 {
        margin-bottom: 15px;
        font-size: 1.661em;
    }

    .text > p {
        margin-bottom: 15px;
    }

    .text-btn {
        width: 210px;
    }
    
    main {
        padding: 100px 0px 220px;
    }
    
    .post {
        max-width: 900px;
        margin-bottom: 25px;
        padding: 40px 15px 40px 80px;
    }

    .post-wrapper {
        grid-gap: 65px;
    }

    .post-text {
        padding-top: 74px;
    }

    .post-text > h2 {
        margin-bottom: 10px;
    }

    .post-image > img {
        max-width: 320px;
    }

    .overlay {
        width: 525px;
        padding: 50px 0px 45px;
    }

    .overlay > h2 {
        margin-bottom: 20px;
    }

    .overlay-btn {
        width: 260px;
        padding: 16px;
        font-size: 0.73em;
    }

    footer {
        padding: 140px 0px 60px;
    }

    .footer-wrapper {
        max-width: 915px;
    }

    .footer-top {
        grid-template-columns: 315px 340px 125px;
        grid-template-rows: 215px;
        grid-gap: 50px;
    }

    .contact-info > img {
        max-width: 185px;
        margin-bottom: 20px;
    }

    .contact-wrapper {
        gap: 20px 15px;
    }

    img[src*="icon"] {
        max-width: 15px;
    }

    img[src*="icon-location"] {
        max-width: 12px;
    }

    .contact-wrapper > p,
    .contact-wrapper > span {
        font-size: 14px;
    }

    .shortcut-links {
        padding-top: 72px;
    }

    .shortcut-links a {
        font-size: 16px;
    }

    .social-links {
        padding-top: 70px;
    }

    .social-links a {
        width: 30px;
        height: 30px;
        font-size: 0.85em;
    }

    .footer-bottom {
        font-size: 12px;
    }
}

@media screen and (max-width: 920px) {
    .header-wrapper {
        max-width: 800px;
    }

    .inner-container {
        grid-template-columns: 1fr 1.2fr;
    }

    .text {
        padding-top: 60px;
    }

    .text > h1 {
        margin-bottom: 10px;
        line-height: 1.35;
    }
    
    main {
        padding: 80px 0px 160px;
    }

    .post {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        max-width: 795px;
        padding: 35px 20px 35px 60px;
    }

    .post-wrapper {
        grid-gap: 70px;
        grid-template-columns: 1fr auto;
    }

    .post-text {
        padding-top: 60px;
    }

    .post-text > h2 {
        margin-bottom: 5px;
    }

    .post-image > img {
        max-width: 285px;
    }

    .overlay {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        width: 465px;
        padding: 45px 0px 40px;
    }

    .overlay > h2 {
        margin-bottom: 18px;
    }

    .overlay-btn {
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.23);
        width: 245px;
        padding: 13px;
    }

    .overlay-btn:hover {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
    }

    footer {
        padding: 130px 0px 60px;
    }

    .footer-wrapper {
        max-width: 800px;
        padding-left: 0;
    }

    .footer-top {
        grid-template-columns: 315px 1fr auto;
        grid-gap: 70px;
        padding: 0px 5px 5px;
    }

    .shortcut-links > ul {
        align-content: space-between;
    }
}

@media screen and (max-width: 800px) {
    .cta {
        padding: 25px;
        font-size: 1.08em;
    }
    
    header {
        padding: 50px 30px;
    }

    .nav {
        margin-bottom: 175px;
    }

    .nav > img {
        max-width: 220px;
    }

    .nav-btn {
        padding: 12px;
        width: 195px;
        font-size: 1.1em;
    }

    .inner-container {
        padding: 0px 45px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 100px;
        font-size: 18px;
    }

    .text {
        margin-right: 0;
        padding-top: 0;
        text-align: center;
        font-size: 18px;
    }

    .text > h1 {
        margin-bottom: 20px;
        font-size: 2.59em;
    }

    .text > p {
        margin-bottom: 75px;
        font-size: 1.732em;
    }

    .text-btn {
        width: 460px;
        font-size: 1.15em;
        letter-spacing: 1px;
    }

    main {
        padding: 117px 0px 458px;
    }

    .post {
        border-radius: 30px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        max-width: 636px;   
        margin-bottom: 80px;
        padding: 112px 75px 75px;
    }

    .post-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 92px;
    }

    .post-text {
        padding-top: 0;
        text-align: center;
        font-size: 18px;
    }

    .post-text > h2 {
        margin-bottom: 25px;
        font-size: 2.09em;
    }

    .post-text > p {
        font-size: 1.46em;
    }

    .post-image {
        justify-items: center;
        order: -1;
    }

    .post-image > img {
        max-width: 435px;
    }

    .post:nth-child(2n) .post-image {
        justify-items: center;
    }

    .overlay {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        width: 93.8%;
        padding: 100px 0px 80px;
    }

    .overlay > h2 {
        margin-bottom: 40px;
        font-size: 2em;
    }

    .overlay-btn {
        width: 405px;
    }

    footer {
        padding: 270px 25px 100px;
    }

    .footer-top {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
        grid-gap: 100px;
        margin-bottom: 50px;
        font-size: 18px;
    }

    .contact-wrapper {
        gap: 60px 35px;
    }

    .contact-info > img {
        max-width: 330px;
    }

    .contact-wrapper > p, 
    .contact-wrapper > span {
        font-size: 1.6em;
    }

    img[src*="icon"] {
        margin-top: 0;
        max-width: 100%;
    }

    img[src*="icon-location"] {
        margin-top: 13px;
        width: 1.2em;
    }

    img[src*="icon-phone"] {
        margin-top: 3px;
        width: 1.7em;
    }

    img[src*="icon-email"] {
        margin-top: 8px;
        width: 1.8em;
    }

    .shortcut-links {
        padding-top: 0px;
    }

    .shortcut-links > ul {
        flex-wrap: nowrap;
        align-content: flex-start;
    }

    .shortcut-links a {
        font-size: 33px;
    }

    .social-links {
        padding-top: 0px;
    }

    .social-links > ul {
        justify-content: center;
    }

    .social-links a {
        width: 55px;
        height: 55px;
        font-size: 1.5em;
    }

    .footer-bottom {
        justify-content: center;
        font-size: 21px;
    }

    .attribution p { 
        font-size: 16px; 
    }
}

@media screen and (max-width: 665px) {
    .cta {
        padding: 18px;
    }

    header {
        padding: 40px 0px;
    }

    .header-wrapper {
        max-width: 460px;
    }

    .nav {
        margin-bottom: 120px;
    }

    .nav > img {
        max-width: 145px;
    }

    .nav-btn {
        padding: 8px;
        width: 130px;
        font-size: 0.75em;
    }

    .inner-container {
        padding: 0 22px;
        row-gap: 30px;
    }

    .text > h1{
        margin-bottom: 27px;
        font-size: 1.825em;
        line-height: 1.5;
    }

    .text > p {
        margin-bottom: 40px;
        font-size: 1.23em;
    }

    .text-btn {
        width: 330px;
        font-size: 0.82em;
    }

    main {
        padding: 85px 0px 229px;
    }

    .post {
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        max-width: 415px;
        margin-bottom: 40px;
        padding: 65px 50px 50px;
    }

    .post-wrapper {
        grid-gap: 46px;
    }

    .post-text > h2 {
        margin-bottom: 15px;
        font-size: 1.345em;
    }

    .post-text > p {
        font-size: 0.96em;
    }

    .post-image > img {
        max-width: 290px;
    }

    .overlay {
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 430px;
        padding: 50px 0 40px;
    }

    .overlay > h2 {
        margin-bottom: 25px;
        font-size: 1.25em;
    }

    .overlay-btn {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        width: 255px;
        padding: 15px;
        font-size: 0.75em;
    }

    .overlay-btn:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }

    footer {
        padding: 145px 0px 60px;
    }

    .footer-wrapper {
        max-width: 430px;
    }

    .footer-top {
        grid-gap: 60px;
        margin-bottom: 25px;
    }

    .contact-wrapper {
        gap: 30px 17px;
    }

    .contact-info > img {
        max-width: 175px;
    }

    .contact-wrapper > p,
    .contact-wrapper > span {
        font-size: 0.88em;
    }

    img[src*="icon-location"] {
        margin-top: 7px;
        width: 0.8em;
    }

    img[src*="icon-phone"] {
        margin-top: 2px;
        width: 0.95em;
    }

    img[src*="icon-email"] {
        margin-top: 5px;
        width: 1em;
    }

    .shortcut-links a {
        font-size: 18px;
    }

    .social-links a {
        width: 35px;
        height: 35px;
        font-size: 0.95em;
    }

    .footer-bottom {
        font-size: 12px;
    }

    .attribution p { 
        font-size: 12px; 
    }
}

@media screen and (max-width: 450px) {
    .cta {
        padding: 13px;
    }

    header {
        padding: 25px 0px;
    }

    .header-wrapper {
        max-width: 345px;
    }

    .nav {
        margin-bottom: 87px;
    }

    .nav > img {
        max-width: 0;
        min-width: 110px;
    }

    .nav-btn {
        padding: 6px;
        width: 98px;
        font-size: 0.55em;
    }

    .inner-container {
        padding: 0 22px;
        row-gap: 50px;
    }

    .text > h1{
        margin-bottom: 10px;
        font-size: 1.295em;
    }

    .text > p {
        margin-bottom: 37px;
        font-size: 0.87em;
    }

    .text-btn {
        width: 230px;
        font-size: 0.6em;
    }

    main {
        padding: 58px 0px 229px;
    }

    .post {
        border-radius: 15px;
        max-width: 315px;
        margin-bottom: 40px;
        padding: 56px 37px 37px;
    }

    .post-wrapper {
        grid-gap: 46px;
    }

    .post-text > h2 {
        margin-bottom: 12px;
        font-size: 1.045em;
    }

    .post-text > p {
        font-size: 0.73em;
    }

    .post-image > img {
        max-width: 0;
        min-width: 217px;
    }

    .overlay {
        border-radius: 15px;
        width: 352px;
        padding: 50px 0 40px;
    }

    .overlay > h2 {
        margin-bottom: 20px;
        font-size: 1em;
    }

    .overlay-btn {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        width: 202px;
        font-size: 0.6em;
    }

    .overlay-btn:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }

    footer {
        padding: 135px 12px 50px;
    }

    .footer-wrapper {
        max-width: 350px;
    }

    .footer-top {
        grid-gap: 50px;
        margin-bottom: 25px;
    }

    .contact-wrapper {
        gap: 18px 15px;
    }

    .contact-info > img {
        max-width: 165px;
    }

    .contact-wrapper > p,
    .contact-wrapper > span {
        font-size: 0.8em;
    }

    img[src*="icon-location"] {
        margin-top: 7px;
        width: 0.6em;
    }

    img[src*="icon-phone"] {
        margin-top: 1px;
        width: 0.85em;
    }

    img[src*="icon-email"] {
        margin-top: 4px;
        width: 0.9em;
    }

    .shortcut-links a {
        font-size: 17px;
    }

    .social-links a {
        width: 28px;
        height: 28px;
        font-size: 0.75em;
    }

    .footer-bottom {
        font-size: 11px;
    }

    .attribution p { 
        font-size: 11px; 
    }
}